div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    border: 2px solid black;
    /* transition: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s; */
    transition: all 2s ease-in-out 1s;
}

div:hover{
    background-color: red;
    color: aliceblue;
    font-size: 30px;
}
div:active{
    background-color: palevioletred;
    color: black;
}


